/* Styles for the App.js file help maintain style integrity throughout the app. */
html,
body,
#root {
  width: 100%;
  height: 100%;
  background: radial-gradient(white, #2f4f4f);
}

.App {
  text-align: center;
}
