.landingContainer {
  background: url("../../images/MTGBoard.jpg") no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
  position: relative;
}

.landingButton {
  position: absolute;
  left: 40.1%;
  top: 45%;
  width: 20vw;
  height: 10vh;
  font-size: 4vw;
  background-color: White;
  text-align: center;
  border-radius: 10%;
}

.landingHeader {
  position: absolute;
  left: 32%;
  top: 15%;
  font-size: 8vw;
  color: white;
}
