.card {
  width: 50px;
  height: 95%;
  margin: 1%;
}

.water {
  background-color: blue;
}

.fire {
  background-color: red;
}

.light {
  background-color: yellow;
}

.shadow {
  background-color: black;
}

.earth {
  background-color: green;
}

.card_back {
  background-color: silver;
}

.opponents_stack,
.opponents_deck,
.opponents_discard,
.player_deck,
.player_discard,
.player_stack {
  width: 100%;
  height: 95%;
  background-color: pink;
}
